{% extends "base.html" %}

{% block content %}

<div class="top-links">
    <a href="{{ url_for('authors_page') }}" class="link-btn">👥 Авторы</a>
    <a href="{{ url_for('logout') }}" class="link-btn">🚪 Выйти</a>
</div>

<h1>📝 Список дел</h1>

<form method="post">
    <input class="input-str" name="task" placeholder="Например: постирать вещи" required>
    <button class="submit-btn" type="submit">➕ Добавить</button>
</form>

<ul>
    {% if tasks %}
        {% for task_id, task_name in tasks %}
            <li>
                <span class="task-text">{{ task_name }}</span>
                <a href="/complete/{{ task_id }}" class="complete-btn">✅</a>
                <a href="/delete/{{ task_id }}" class="delete-btn">Удалить</a>
            </li>
        {% endfor %}
    {% else %}
        <li class="empty">Пока задач нет 😊</li>
    {% endif %}
</ul>

<a href="/completed" class="link-btn">➡️ Выполненные</a>

{% endblock %}
